body{
  background: #8BAAAD;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}

.container{
  background: #F4FFF8;
  width: 900px;
  margin: 0 auto;
  box-shadow: 0px 0px 26px -4px rgba(77, 72, 71, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  text-align: center;
  color: #000F08;
  letter-spacing: 1.5px;
}

.loading{
  display:none;
}

g{
  font-size: 14px;
  color: #000F08;
}


#tooltip{
  position: absolute;
  color: #F4FFF8;
  width: 200px;
  height: 50px;
  padding: 8px;
  font-size: 16px;
  text-align: center;
  pointer-events: none;
  background-color: #4D4847;
  border: 0.1px solid #F4FFF8;
  box-shadow: 0px 0px 48px -26px rgba(244, 255, 248, 0.53);
  border-radius: 3%;
}

#description{
  height: 24px;
  width: 700px;
  padding: 4px;
  margin: 4px;
  margin-bottom: 30px;
  font-size: 12px;
  color: #000F08;
  text-align: center
}